.hero {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: stretch;
    min-height: 490px;
    height: 100%;
    margin-top: 50px;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.featured {
    flex: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: stretch;

    @media screen and (max-width: 930px) {
        flex: 4;
    }
}

.featured_img {
    flex: 1;
    width: 100%;
    height: 100%;
}

.featured_article {
    flex: 1;
    display: flex;
    gap: 20px;
    align-self: stretch;
}

.featured_headline {
    flex: 1;
    font-size: 45px;
    font-weight: bold;

    @media screen and (max-width: 440px) {
        font-size: 40px;
    }
}

.featured_article_con {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.featured_desc {
    color: var(--dark-gray-blue);
}

.featured_button {
    border: none;
    padding: 10px 20px;
    color: var(--off-white);
    background-color: var(--soft-red);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    cursor: pointer;
}

.featured_button:hover {
    background-color: var(--very-dark-blue);
}

/* new */

.new {
    flex: 2;
    background: var(--very-dark-blue);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.new_headline {
    color: var(--soft-orange);
    font-weight: bold;
    font-size: 34px;
}

.new_article_con {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.new_item_headline {
    color: var(--off-white);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;

    @media screen and (max-width: 930px) {
        font-size: 18px;
    }
}

.new_item_headline:hover {
    color: var(--soft-orange);
}

.new_item_desc {
    color: var(--grayish-blue);

    @media screen and (max-width: 930px) {
        font-size: 14px;
    }
}

.new_line {
    width: 100%;
    background-color: var(--off-white);
    height: 1px;
}